#backgrounddiv{
    width: 1400px;
    height: 815px;
    border: 1px solid black;
    background-image: url(melb_graf.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 18;
}
img{
    position: absolute;
    left: 265;
    top: 100;
}
h1{
    position: absolute;
    left: 600;
    top: 600;   
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}