@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

#backgrounddiv{
    width: 1400px;
    height: 815px;
    border: 1px solid black;
    background-image: url(melb_graf.png);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    position: absolute;
    top: 0;
    left: 18;
}
img{
    position: absolute;
    left: 265;
    top: 100;
}
h1{
    font-family: 'Permanent Marker';
    position: absolute;
    width: 100%;
    left: 600;
    top: 550;   
}
h2{
    font-family: 'Permanent Marker';
    position: absolute;
    left: 665;
    top: 600;
}
h3{
    font-family: 'Permanent Marker';
    position: absolute;
    left: 580;
    top: 600;
    font-size: 50px;
    color: rgb(236, 36, 38);
    text-shadow: 3px 3px black;
}
a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
}