@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
    height: 865px;
    width: 1420px;
    background-color: white;
}
.divcontent{
    border: 1px solid white;
}
#btfstart{
    width: 1400px;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 10px;
    right: 10px;
    background-image: url(melb_bnw.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(1px);
}
#div1{
    font-family: Permanent Marker;
    height: 260px;
    width: 590px;
    position: absolute;
    top: 310;
    background-image: url(skatbnw_bowl.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#accesories{
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    left: 190px;
    top: 170;
}
#accesories:hover{
    color: rgb(236, 36, 38);
}
#div2{
    font-family: Permanent Marker;
    height: 550px;
    width: 400px;
    position: absolute;
    top: 310;
    left: 615px;
    background-image: url(bnw_skaters.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#sale{
    font-family: Permanent Marker;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    left: 140;
    top: 200;
}
#sale:hover{
    color: rgb(236, 36, 38);
}
#div3{
    font-family: Permanent Marker;
    height: 260px;
    width: 375px;
    position: absolute;
    top: 310;
    left: 1032;
    background-image: url(bnw_skateollie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#pants{
    font-family: Permanent Marker;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    top: 170;
}
#pants:hover{
    color: rgb(236, 36, 38);
}
#div4{
    font-family: Permanent Marker;
    height: 284px;
    width: 284px;
    position: absolute;
    top: 575;
    background-image: url(bnw_fixie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#fixie{
    font-family: Permanent Marker;
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    top: 190;
    left: 25;
}
#fixie:hover{
    color: rgb(236, 36, 38);
}
#div5{
    font-family: Permanent Marker;
    height: 284px;
    width: 284px;
    position: absolute;
    top: 575;
    left: 314;
    background-image: url(bnw_backpack.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#backpack{
    font-family: Permanent Marker;
    font-size: 53px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    top: 200;
}
#backpack:hover{
    color: rgb(236, 36, 38);
}
#div6{
    font-family: Permanent Marker;
    height: 284px;
    width: 375px;
    position: absolute;
    top: 575;
    left: 1032;
    background-image: url(skate_bnw_hoodie.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#coats{
    font-family: Permanent Marker;
    font-size: 75px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
    position: absolute;
    top: 190;
}
#coats:hover{
    color: rgb(236, 36, 38);
}
#div7{
    height: 300px;
    width: 300px;
    background-image: url(phully_hatchet24.png);
    background-position: center;
    position: absolute;
    top: 0;
    left: 550;
}
#tops{
    position: absolute;
    top: 220;
    left: 450;
    font-size: 30px;
    font-family: Oswald;
}
#all{
    position: absolute;
    top: 220;
    left: 540;
    font-size: 30px;
    font-family: Oswald;
}
#salenav{
    position: absolute;
    top: 220;
    left: 830;
    font-size: 30px;
    font-family: Oswald;
}
#contact{
    position: absolute;
    top: 220;
    left: 905;
    font-size: 30px;
    font-family: Oswald;
}
.navbar{
    text-decoration: none;
    color: white;
}